@import url('./mainfortestpg.css');
body {
  height:100%;
   background-color:rgb(123,141,156) ;
   background-image: url(' ../imagess/bcpic22.png');
   background-size:cover;
}
 .nestedGrid{
    display:grid;
     justify-content:center;
    grid-template-columns:60%;
     grid-template-rows: 1fr;
  }
  .nestedGrid > *{
    border: 2px solid rgb(253,184,59);
  }
   
  .cardimage{
     justify-content:center;
     text-align: center;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(229, 233, 233);
  }
  .cardimage img{
    width:50%;
 }
 
    
    .content{
        grid-area: main;
      }
      .meditems{
        display:flex ;
      }
      .meditems{
        list-style:none;
        margin: 10px 11px;
        
      } 

    
 
   